@{
    @model IEnumerable<HarputGayriMenkul.Models.sel_Advert_Result>
   
}
@{
    
    ViewBag.Title = "AdminAnasayfa";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
    
}

<!DOCTYPE html>
<html lang="en-US">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Timurtaş Garymenkul| Anasayfa</title>
    <link rel="pingback" href="~/Content/EmlakPages/wpestatetheme.org/xmlrpc.php" />
    <link rel="shortcut icon" href="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2013/06/16.png" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="WP Estate | Responsive Real Estate Theme &raquo; Feed" href="~/Content/EmlakPages/wpestatetheme.org/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="WP Estate | Responsive Real Estate Theme &raquo; Comments Feed" href="~/Content/EmlakPages/wpestatetheme.org/comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="WP Estate | Responsive Real Estate Theme &raquo; Homepage V3 Comments Feed" href="feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "http:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/wpestatetheme.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.3.2" } };
        !function (a, b, c) { function d(a) { var c = b.createElement("canvas"), d = c.getContext && c.getContext("2d"); return d && d.fillText ? (d.textBaseline = "top", d.font = "600 32px Arial", "flag" === a ? (d.fillText(String.fromCharCode(55356, 56812, 55356, 56807), 0, 0), c.toDataURL().length > 3e3) : (d.fillText(String.fromCharCode(55357, 56835), 0, 0), 0 !== d.getImageData(16, 16, 1, 1).data[0])) : !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g; c.supports = { simple: d("simple"), flag: d("flag") }, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.simple && c.supports.flag || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dsidx-css' href='http://cdn3.diverse-cdn.com/api/combo-css/config=dsidxpress.css/43e53d' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-icons-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/css/dsidx-icons274c.css?ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-unconditional-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/css/client274c.css?ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxwidgets-unconditional-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/dsidxwidgets/css/client274c.css?ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/revslider/public/assets/css/settings58aa.css?ver=5.0.7' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='wpestate_style-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/style5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='wpestate_media-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/css/my_media5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery.ui.theme-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/css/jquery-ui.min274c.css?ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wpestate-roboto-css' href='http://fonts.googleapis.com/css?family=Roboto%3A400%2C500%2C300&amp;subset=latin%2Clatin-ext&amp;ver=4.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome.min-css' href='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/css/fontawesome/css/font-awesome.min274c.css?ver=4.3.2' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/jqueryc1d8.js?ver=1.11.3'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://cdn3.diverse-cdn.com/api/combo-js/config=dsidxpress.js/4fc9f4?ver=2.1.25'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min58aa.js?ver=5.0.7'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min58aa.js?ver=5.0.7'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/modernizr.custom.624565152.js?ver=1.0'></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=true&amp;key=AIzaSyAnht2vS1oNOrXArwI0KziXfB5bT37Mh6s&amp;ver=1.0'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/Content/EmlakPages/wpestatetheme.org/xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/EmlakPages/wpestatetheme.org/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.3.2" />
    <link rel='canonical' href='index.html' />
    <link rel='shortlink' href='~/Content/EmlakPages/wpestatetheme.org/index3ef1.html?p=5774' />
    <style type='text/css'>
        .ribbon-wrapper-under-offer {
            background-color: #c0392b;
        }

        .under-offer {
            padding-top: 10px;
        }

        .ribbon-wrapper-open-home {
            background-color: #2c3e50;
        }

        .open-home {
            padding-top: 10px;
        }

        .ribbon-wrapper-hot-offer {
            background-color: #e74c3c;
        }

        .hot-offer {
            padding-top: 10px;
        }

        .ribbon-wrapper-new-offer {
            background-color: #2c3e50;
        }

        .new-offer {
            padding-top: 10px;
        }

        .top-user-menu-wrapper {
            background: #f5f5f5;
            color: #1a171b;
        }

            .top-user-menu-wrapper a {
                color: #1a171b;
            }

        .dsidx-standalone-disclaimer {
            display: none;
        }

        ul.dsidx-list.dsidx-panel li {
            border-top: 0px dotted #ededed;
        }

        .pack_description_unit {
            padding: 15px 0px 15px 15px;
        }

        #property_address {
            height: 98px;
        }

        img[class*="align"], img[class*="wp-image-"], #content .gallery .gallery-icon img {
            border: 0px solid #ddd;
        }

        input[type=password] {
            text-transform: none!important;
        }
    </style>
    <meta name="generator" content="Powered by Slider Revolution 5.0.7 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
        if (typeof localdsidx == "undefined" || !localdsidx) { var localdsidx = {}; };
        localdsidx.pluginUrl = "~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/index.html";
        localdsidx.homeUrl = "~/Views/Home/Index.cshtml";
    </script>
    <script type="text/javascript">
        if (typeof localdsidx == "undefined" || !localdsidx) { var localdsidx = {}; };
        localdsidx.pluginUrl = "~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/index.html";
        localdsidx.homeUrl = "~/Content/EmlakPages/wpestatetheme.org/index.html";
    </script>
</head>
<body class="page page-id-5774 page-template page-template-property-list page-template-property-list-php">
    <div id="page">
         <div class="geolocation-button  geo_version_1" id="geolocation-button"></div>
            <div id="tooltip-geolocation" class="tooltip-geolocation_1">harita üzerindeki yeri </div>
            <!-- SEARCH CODE -->
            <div class="search_wrapper search_wrapper_type1" id="search_wrapper">
                <div class="search_holder" id="adv_search_holder">
                    <div id="adv-search-header-2" class=" geohide advhome ">Gelişmiş Arama</div>
                    <div class="adv-search-2  geohide advhome " id="adv-search-2">
                        <form role="search" method="post" action="~/Home/AdvancedSearch">
                            <div class="advanced_action_div adv1">
                                <select id="adv_actions_2_internal" name="filter_search_action[]" class="cd-select">
                                    <option value="all">All Listings</option>
                                    <option value="Rentals">Kiralık</option>
                                    <option value="Sales">Satılık</option>
                                </select>
                            </div>
                            <div class="advanced_categ_div adv2">
                                <select id="adv_categ_2_internal" name="filter_search_type[]" class="cd-select">
                                    <option value="all">All Types</option>
                                    @foreach(var item in ViewBag.CategoryList){
                                        <option value="@item.ID">@item.CategoryName</option>
                                   
                                   }
                                   @* <option value="Apartments">Apartments</option>
                                    <option value="Condos">Condos</option>
                                    <option value="Duplexes">Duplexes</option>
                                    <option value="Houses">Houses</option>
                                    <option value="Industrial">Industrial</option>
                                    <option value="Land">Land</option>
                                    <option value="Offices">Offices</option>
                                    <option value="Retail">Retail</option>
                                    <option value="Villas">Villas</option>*@
                                </select>
                            </div>
                            <div class="advanced_city_div adv3">
                                <select id="advanced_city_2_internal" name="advanced_city" class="cd-select">
                                    <option value="all">All Cities</option>
                                   @foreach(var item in ViewBag.CityList){
                                        <option value="@item.CityID">@item.CityName</option>
                                   
                                   }
                                </select>
                            </div>
                            <div class="advanced_area_div adv4">
                                <select id="advanced_area_2_internal" name="advanced_area" class="cd-select">
                                    <option value="all" data-parentcity="*">All Areas</option>
                                    <option value="East Harlem" data-parentcity="New York">East Harlem</option>
                                    <option value="Greenville" data-parentcity="Jersey City">Greenville</option>
                                    <option value="Manhattan" data-parentcity="New York">Manhattan</option>
                                    <option value="Northern Brooklyn" data-parentcity="New York">Northern Brooklyn</option>
                                    <option value="Queens" data-parentcity="New York">Queens</option>
                                    <option value="Southwark" data-parentcity="London">Southwark</option>
                                    <option value="The Heights" data-parentcity="Jersey City">The Heights</option>
                                    <option value="Upper East Side" data-parentcity="New York">Upper East Side</option>
                                    <option value="West Side" data-parentcity="New York">West Side</option>
                                </select>
                            </div>
                            <div class="adv_search_internal">
                                <input type="text" id="minim-price" name="minim-price" placeholder="Minim Price" class="advanced_select">
                            </div>
                            <div class="adv_search_internal">
                                <input type="text" id="maxim-price" name="maxim-price" placeholder="Maxim Price" class="advanced_select">
                            </div>
                            <div class="adv_search_internal">
                                <input type="text" id="bedrooms-number" name="bedrooms-number" placeholder="Bedrooms Number" class="advanced_select">
                            </div>
                            <script type="text/javascript">
                                //<![CDATA[
                                jQuery(document).ready(function () {
                                    jQuery("#available-from").datepicker({
                                        dateFormat: "yy-mm-dd"
                                    });
                                });
                                //]]>
                            </script>
                            <div class="adv_search_internal">
                                <input type="text" id="available-from" name="available-from" placeholder="Available From" class="advanced_select">
                            </div>
                            <input name="submit" type="submit" class="btn vernil small" id="advanced_submit_2" value="Ara">
                        </form>
                    </div>
                </div>
                <!-- end search holder-->
            </div>


        <div class="gmap_wrapper  gmap_not_home" style="height: 295px;">
            <div class="gmap-next " id="gmap-next"></div>
            <div class="gmap-prev " id="gmap-prev"></div>
            <div id="mobile-geolocation-button"></div>
            <div id="googleMap" style="height: 295px;">
            </div>
            <div class="tooltip">yakınlıştırmayı etkinleştir</div>
            <div id="gmap-loading">
                Hatira Yükleniyor       <span class="gmap-animation">
                    <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/images/ajax-loader-gmap.gif" alt="logo" />
                </span>
            </div>
            <div class="gmap-menu-wrapper">
                <div class="gmap-menu" id="gmap-menu" style="display: none;">
                    <div id="closefilters"></div>
                    <div class="action_filter">
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_action[]" id="rentals" class="rentals" value="Rentals" /><label for="rentals"><span></span><img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/rentalsicon.png" alt="Rentals">Kiralıklar</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_action[]" id="sales" class="sales" value="Sales" /><label for="sales"><span></span><img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/salesicon.png" alt="Sales">Satılıklar</label>
                        </div>
                    </div>
                    <div class="type-filters">
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="apartments" class="apartments" value="Apartments" /><label for="apartments"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/apartmentsicon.png" alt="Apartments">Apartments</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="condos" class="condos" value="Condos" /><label for="condos"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/condo.png" alt="Condos">Condos</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="duplexes" class="duplexes" value="Duplexes" /><label for="duplexes"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/single.png" alt="Duplexes">Duplexes</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="houses" class="houses" value="Houses" /><label for="houses"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/housesicon.png" alt="Houses">Houses</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="industrial" class="industrial" value="Industrial" /><label for="industrial"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/industrialicon.png" alt="Industrial">Industrial</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="land" class="land" value="Land" /><label for="land"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/landicon.png" alt="Land">Land</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="offices" class="offices" value="Offices" /><label for="offices"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/officesicon.png" alt="Offices">Offices</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="retail" class="retail" value="Retail" /><label for="retail"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/retailicon.png" alt="Retail">Retail</label>
                        </div>
                        <div class="checker">
                            <input type="checkbox" checked="checked" name="filter_type[]" id="villas" class="villas" value="Villas" /><label for="villas"><span></span>
                                <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/villa.png" alt="Villas">Villas</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="gmap-mobile-filters">Filters</div>
        <div id="advanced_search_map_button_mobile" style="display: none;">
            Gelişmiş Arama
        </div>
        <div class="adv-search-mobile" id="adv-search-mobile">
            <div id="closeadvancedmobile"></div>
            <form role="search" method="post" action="@Url.Action("Home","AdvancedSearch")">
                <div class="adv_search_internal advz1">
                    <select id="adv_actions_2_mobile" name="filter_search_action[]" class="cd-select">
                        <option value="all">All Listings</option>
                        <option value="Rentals">Rentals</option>
                        <option value="Sales">Sales</option>
                    </select>
                </div>
                <div class="adv_search_internal advz2">
                    <select id="adv_categ_2_mobile" name="filter_search_type[]" class="cd-select">
                        <option value="all">All Types</option>
                        <option value="Apartments">Apartments</option>
                        <option value="Condos">Condos</option>
                        <option value="Duplexes">Duplexes</option>
                        <option value="Houses">Houses</option>
                        <option value="Industrial">Industrial</option>
                        <option value="Land">Land</option>
                        <option value="Offices">Offices</option>
                        <option value="Retail">Retail</option>
                        <option value="Villas">Villas</option>
                    </select>
                </div>
                <div class="adv_search_internal advz3 advanced_city_div_mobile">
                    <select id="advanced_city_2_mobile" name="advanced_city" class="cd-select">
                        <option value="all">All Cities</option>
                       @foreach(var item in ViewBag.CityList){
                                        <option value="@item.CityID">@item.CityName</option>
                                   
                                   }
                    </select>
                </div>
                <div class="adv_search_internal advz4 advanced_area_div_mobile">
                    <select id="advanced_area_2_mobile" name="advanced_area" class="cd-select">
                        <option value="all" data-parentcity="*">All Areas</option>
                        <option value="East Harlem" data-parentcity="New York">East Harlem</option>
                        <option value="Greenville" data-parentcity="Jersey City">Greenville</option>
                        <option value="Manhattan" data-parentcity="New York">Manhattan</option>
                        <option value="Northern Brooklyn" data-parentcity="New York">Northern Brooklyn</option>
                        <option value="Queens" data-parentcity="New York">Queens</option>
                        <option value="Southwark" data-parentcity="London">Southwark</option>
                        <option value="The Heights" data-parentcity="Jersey City">The Heights</option>
                        <option value="Upper East Side" data-parentcity="New York">Upper East Side</option>
                        <option value="West Side" data-parentcity="New York">West Side</option>
                    </select>
                </div>
                <div class="adv_search_internal">
                    <input type="text" id="minim-price" name="minim-price" placeholder="Minim Price" class="advanced_select">
                </div>
                <div class="adv_search_internal">
                    <input type="text" id="maxim-price" name="maxim-price" placeholder="Maxim Price" class="advanced_select">
                </div>
                <div class="adv_search_internal">
                    <input type="text" id="bedrooms-number" name="bedrooms-number" placeholder="Bedrooms Number" class="advanced_select">
                </div>
                <script type="text/javascript">
                    //<![CDATA[
                    jQuery(document).ready(function () {
                        jQuery("#mavailable-from").datepicker({
                            dateFormat: "yy-mm-dd"
                        });
                    });
                    //]]>
                </script>
                <div class="adv_search_internal">
                    <input type="text" id="mavailable-from" name="available-from" placeholder="Available From" class="advanced_select">
                </div>
                <input name="submit" type="submit" class="btn vernil small mobilesubmit" id="advanced_submit_mobile" value="Ara">
            </form>
        </div>
        <!-- End Mobile Search -->
        <!-- Google Map Code -->
        <!-- Google Map Code -->
        <div id="wrapper" class="fullwhite">
            <div class=""></div>
            <div id="breadcrumbs_container">
                <div class="breadcrumbs ">
                    <a href="~/Content/EmlakPages/wpestatetheme.org/index.html">Home</a><span class="bread_arrows">&raquo;</span><span class="bread_selected">Homepage V3</span><div class="map_opener" id="openmap">haritayı büyüt</div>
                </div>
            </div>
            <div id="main" class="row ">
                <!-- begin content-->
                <div id="post" class="listingborder twelve columns alpha noshadow ">
                    <div class="inside_post no_margin_bottom  bottom-estate_property">

                        <div class="clearboth"></div>
                        <h2>Özellikleri Seç</h2>
                        <!--Filters starts here-->
                        <div class="listing_filters oncompare">
                            <div class="action_filter">
                                <div class="checker checker-click">
                                    <input type="checkbox" checked="checked" name="filter_action_listing[]" id="rentals_listing" value="Rentals" /><label for="rentals_listing"><span></span><img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/rentalsicon.png" alt="Rentals">Kiralıklar</label>
                                </div>
                                <div class="checker checker-click">
                                    <input type="checkbox" checked="checked" name="filter_action_listing[]" id="sales_listing" value="Sales" /><label for="sales_listing"><span></span><img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/salesicon.png" alt="Sales">Satılıklar</label>
                                </div>
                            </div>
                            <div class="type-filters">
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="apartments_listing" value="Apartments" /><label for="apartments_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/apartmentsicon.png" alt="apartments">Bina</label>
                                </div>
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="condos_listing" value="Condos" /><label for="condos_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/condo.png" alt="condos">Konut</label>
                                </div>
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="duplexes_listing" value="Duplexes" /><label for="duplexes_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/single.png" alt="duplexes">Dublex</label>
                                </div>
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="houses_listing" value="Houses" /><label for="houses_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/housesicon.png" alt="houses">Evler</label>
                                </div>
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="industrial_listing" value="Industrial" /><label for="industrial_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/industrialicon.png" alt="industrial">Tesisler</label>
                                </div>
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="land_listing" value="Land" /><label for="land_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/landicon.png" alt="land">Arsalar</label>
                                </div>
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="offices_listing" value="Offices" /><label for="offices_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/officesicon.png" alt="offices">Diğer</label>
                                </div>
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="retail_listing" value="Retail" /><label for="retail_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/retailicon.png" alt="retail">Geçici</label>
                                </div>
                                <div class="checker fixed_checker2 checker-click">
                                    <input type="checkbox" checked="checked" name="filter_type_listing[]" id="villas_listing" value="Villas" /><label for="villas_listing"><span></span>
                                        <img src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2014/02/villa.png" alt="villas">Villalar</label>
                                </div>
                            </div>
                            <div class="ajax_filters">
                                <div class="listing_advanced_city_div">
                                   
                                   <select id="advanced_city_listing" name="advanced_city" class="cd-select">
                                        <option value="all">All Cities</option>
                                        @foreach(var item in ViewBag.CityList){
                                        <option value="@item.CityID">@item.CityName</option>
                                   
                                   }
                                    </select>
                                </div>
                                <div class="listing_advanced_area_div">
                                    <select id="advanced_area_listing" name="advanced_area" class="cd-select">
                                        <option data-parentcity="*" value="all">All Areas</option>
                                        <option value="East Harlem" data-parentcity="New York">East Harlem</option>
                                        <option value="Greenville" data-parentcity="Jersey City">Greenville</option>
                                        <option value="Manhattan" data-parentcity="New York">Manhattan</option>
                                        <option value="Northern Brooklyn" data-parentcity="New York">Northern Brooklyn</option>
                                        <option value="Queens" data-parentcity="New York">Queens</option>
                                        <option value="Southwark" data-parentcity="London">Southwark</option>
                                        <option value="The Heights" data-parentcity="Jersey City">The Heights</option>
                                        <option value="Upper East Side" data-parentcity="New York">Upper East Side</option>
                                        <option value="West Side" data-parentcity="New York">West Side</option>
                                    </select>
                                </div>
                                <div class="listing_filter_div">
                                    <select id="listing_filter_div" name="listing_filter_div" class="cd-select">
                                        <option value="1">Price High to Low</option>
                                        <option value="2">Price Low to High</option>
                                        <option value="3">Size High to Low</option>
                                        <option value="4">Size Low to High</option>
                                        <option value="5">Rooms No High to Low</option>
                                        <option value="6">Rooms No Low to High</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Filters Ends here-->
                        <!--Compare Starts here-->
                        <div class="prop-compare">
                            <form method="post" id="form_compare" action="http://wpestatetheme.org/compare-pages/">
                                <span class="comparetile">Compare properties</span>
                                <div id="submit_compare"></div>
                            </form>
                        </div>
                        <!--Compare Ends here-->
                        <!-- Listings starts here -->
                        <div id="listing_loader">Loading...</div>
                        <div id="listing_ajax_container">
                            <div id="listing1" class="property_listing">
                                <figure data-link="http://wpestatetheme.org/properties/6-stall-horse-barn-shop/">
                                    <img width="220" height="170" src="~/Content/EmlakPages/wpestatetheme.org/wp-content/uploads/2013/05/WPEstateMourgueFile1013-220x170.jpg" class="lazyload wp-post-image" alt="WPEstateMourgueFile1013" data-original="http://wpestatetheme.org/wp-content/uploads/2013/05/WPEstateMourgueFile1013-220x170.jpg" /><div class="featured_div">Featured</div>
                                    <a href="~/Content/EmlakPages/wpestatetheme.org/properties/6-stall-horse-barn-shop/index.html">
                                        <div class="ribbon-wrapper-default ribbon-wrapper-new-offer">
                                            <div class="ribbon-inside new-offer">new offer</div>
                                        </div>
                                    </a>
                                    <figcaption data-link="http://wpestatetheme.org/properties/6-stall-horse-barn-shop/">
                                        <span class="fig-icon"></span>
                                    </figcaption>
                                </figure>
                                <div class="property_listing_details">
                                    <h3 class="listing_title"><a href="~/Content/EmlakPages/wpestatetheme.org/properties/6-stall-horse-barn-shop/index.html">6 Stall Horse Barn &#038; Shop</a> </h3>
                                    <span class="property_price">$ 800,000 </span>
                                    <div class="article_property_type listing_units">
                                        <span class="inforoom">10</span>
                                        <span class="infobath">5</span>
                                        <span class="infosize">700 ft<sup>2</sup></span>
                                    </div>
                                    <div class="article_property_type">Ferris Park, <a href="~/Content/EmlakPages/wpestatetheme.org/property_city/jersey-city/index.html" rel="tag">Jersey City</a> </div>
                                    <div class="article_property_type">
                                        <a href="~/Content/EmlakPages/wpestatetheme.org/property_category/land/index.html" rel="tag">Land</a>
                                        in <a href="~/Content/EmlakPages/wpestatetheme.org/property_action_category/sales/index.html" rel="tag">Sales</a>
                                    </div>
                                    <div class="article_property_type">
                                        <a href="#" class="compare-action" data-pimage="http://wpestatetheme.org/wp-content/uploads/2013/05/WPEstateMourgueFile1013-220x170.jpg" data-pid="462"><span class="prop_plus">+</span> compare</a>
                                        <span class="icon-fav icon-fav-off" data-postid="462"></span>
                                    </div>
                                </div>
                            </div>
                            @{
                                int sayi = 0;
                            }
                            @foreach (var advert in Model)
                            {
                                <div id="listing2" class="property_listing">

                                    <figure data-link="@advert.Başlık">
                                        <img width="220" height="170" src="~/Images/large/@advert.ResimAdi" class="lazyload wp-post-image" alt="@advert.ResimAdi" data-original="~/Images/large/@advert.ResimAdi" /><div class="featured_div">Featured</div>

                                        <a href="~/Views/Home/Property.cstml?=@advert.İlanID">
                                             @if(advert.İlanTarihi>DateTime.Now.AddDays(-1)){
                                            <div class="ribbon-wrapper-default ribbon-wrapper-new-offer">
                                               
                                                <div class="ribbon-inside new-offer">Yeni İlan</div>
                                                
                                            </div>
                                             }
                                        </a>

                                        <figcaption data-link=@Url.Action("Property", "Home", new { AdvertID = advert.İlanID })>
                                            <span class="fig-icon"></span>
                                        </figcaption>
                                    </figure>
                                    <div class="property_listing_details">
                                        <h3 class="listing_title"><a href="~/Content/EmlakPages/wpestatetheme.org/properties/retail-space-in-west-side/index.html">@advert.Başlık</a> </h3>
                                        <span class="property_price">@advert.Fiyat</span>
                                        <div class="article_property_type listing_units">
                                            <span class="inforoom">@advert.OdaSayısı</span>
                                            <span class="infobath">@advert.BanyoSayısı</span>
                                            <span class="infosize">@advert.MetreKare m<sup>2</sup></span>
                                        </div>
                                        <div class="article_property_type">@advert.Şehir/<a href="~/Content/EmlakPages/wpestatetheme.org/property_city/new-york/index.html" rel="tag">@advert.İlçe</a> </div>
                                        <div class="article_property_type">
                                            <a href="~/Content/EmlakPages/wpestatetheme.org/property_category/retail/index.html" rel="tag">@advert.KategoriAdı</a>
                                            <a href="~/Content/EmlakPages/wpestatetheme.org/property_action_category/rentals/index.html" rel="tag">@advert.Çeşit</a>
                                        </div>
                                        <div class="article_property_type">
                                            <a href="#" class="compare-action" data-pimage="http://wpestatetheme.org/wp-content/uploads/2013/05/WPEstate0813-220x170.jpg" data-pid="440"><span class="prop_plus">+</span> compare</a>
                                            <span class="icon-fav icon-fav-off" data-postid="440"></span>
                                        </div>
                                    </div>

                                </div>
                                sayi++;
                                if (sayi % 4 == 0)
                                { 
                                <br />
                                }
                            }
                        </div>
                        <!-- Listings Ends  here -->
                    </div>
                    <!-- end inside post-->
                    <div class='pagination'><a href='index.html'>&laquo;</a><span class='current'>1</span><a href='page/2/index.html' class='inactive'>2</a><a href='page/2/index.html'>&raquo; </a></div>
                    <div class="spacer_archive"></div>
                </div>
                <!-- end content-->
                <!-- begin sidebar -->
                <!-- end sidebar -->
            </div>
            <!-- #main -->
        </div>
        <!-- #wrapper -->

        
        <!-- #colophon -->
    </div>
    <script src="~/Content/MyScripts/script.js"></script>
    <!-- #page -->
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/draggable.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.dropdown5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/gumby.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.fitvids5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/mediaelement/froogaloop.mind5f7.js?ver=2.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.elastislide5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.flexslider5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.prettyphoto5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/jquery.imagesloaded5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/menu.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/jquery/ui/autocomplete.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/infobox5152.js?ver=1.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var googlecode_regular_vars = { "general_latitude": "40.781711", "general_longitude": "-73.955927", "path": "http:\/\/wpestatetheme.org\/wp-content\/themes\/wpestate\/css\/css-images", "markers": "[[\"rezydencja\",\"50.038950578869944\",\"19.88154172897339\",1,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2015%2F11%2FIMG_0181-700x280.png%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22IMG_0181%22%20%2F%3E\",\"\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Frezydencja%2F\",8792],[\"5-%20Bedroom%20Duplex%20at%20Dolphin%20Estate%2CIkoyi\",\"6.4582672\",\"3.4151382000000012\",2,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2015%2F05%2FFunny-Creative-Wallpaper-13-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22Funny%20Creative%20Wallpaper%2013%22%20%2F%3E\",\"%20-%20%24%20150%2C000%20\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F5-bedroom-duplex-at-dolphin-estateikoyi%2F\",8542],[\"FUNERARIA%20LA%20AURORA\",\"40.72815749999999\",\"-74.07764170000002\",3,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2014%2F08%2F124x44-aviso-legal-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%2212%2C4x4%2C4%20%20aviso%20legal%22%20%2F%3E\",\"\",\"apartments\",\"sales\",\"apartmentssales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Ffuneraria-la-aurora%2F\",7614],[\"test%20oktay%20%C3%A7%C3%B6%C3%A7%C3%B6%C5%9Fi%C5%9Fi%C5%9F%C4%9F%C3%BC%C4%9F%C3%BC%C4%9F%C4%B0%C5%9E%C4%B0%C5%9E%C3%96%C3%87%C3%96%C3%9C%C4%9E%C3%9C\",\"41.022957\",\"28.875631\",4,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2015%2F03%2F16_ev_foto31-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%2216_ev_foto3%22%20%2F%3E\",\"%20-%20%24%202%2C500%20\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Ftest-oktay-cocosisisgugugisisocougu%2F\",8458],[\"Best%20house%20in%20Guatemala\",\"14.5956586\",\"-90.5109099\",5,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2015%2F03%2Fcasas-modernas1-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22casas-modernas1%22%20%2F%3E\",\"%20-%20%24%203%2C500%20Mensual\",\"houses\",\"sales\",\"housessales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fbest-house-in-guatemala%2F\",8436],[\"Casaaaaa\",\"40.78145944387165\",\"-73.95816385746002\",6,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2015%2F01%2FChrysanthemum1-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22Chrysanthemum%22%20%2F%3E\",\"%20-%20%24%20340%20mensual\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fcasaaaaa%2F\",8329],[\"Lake%20View%20In%20Manhattan\",\"40.789298587138084\",\"-73.96049737930298\",7,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2F4cgraphic-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22New%20York%20Park%20Caption%22%20%2F%3E\",\"%20-%20%24%202%2C500%20%2F%20month\",\"land\",\"rentals\",\"landrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Flake-view-manhattan%2F\",6402],[\"Beautiful%20apartment%20%20for%20rent\",\"40.70940164153687\",\"-73.99519443511963\",8,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2014%2F01%2Ffile1681300058951-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22file1681300058951%22%20%2F%3E\",\"%20-%20%24%201%2C000%20%2F%20month\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fbeautiful-island-house%2F\",5938],[\"Apartment%20for%20rent\",\"51.5056462\",\"-0.09918170000003101\",9,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2F4cgraphic-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22New%20York%20Park%20Caption%22%20%2F%3E\",\"%20-%20%24%203%2C490%20-%2010%25%20discount\",\"houses\",\"rentals\",\"housesrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fapartment-for-sale%2F\",5455],[\"2%20Rooms%20Southwark\",\"51.51121389999999\",\"-0.11982439999997041\",10,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F10%2Ffile0001875099019-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22file0001875099019%22%20%2F%3E\",\"%20-%20%24%20349%2C000%20\",\"duplexes\",\"sales\",\"duplexessales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F619-dartmouth-st%2F\",5303],[\"Condo%20240%20W%2098th%20Street\",\"40.74655794031174\",\"-74.06207799911499\",11,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2F4cgraphic-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22New%20York%20Park%20Caption%22%20%2F%3E\",\"%20-%20%24%20100%2C000%20%2Fyear\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fcondo-240-w-98th-street%2F\",384],[\"Open%20House%20South%20Central\",\"40.798217025760515\",\"-73.95755767822266\",12,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2F4cgraphic-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22New%20York%20Park%20Caption%22%20%2F%3E\",\"%20-%20%24%203%2C500%2C000%20\",\"houses\",\"sales\",\"housessales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fopen-house-south-central%2F\",409],[\"Condo%20In%20Financial%20District\",\"40.72338850378556\",\"-73.99978637695312\",13,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateImageAfter2113-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22Street%20View%22%20%2F%3E\",\"%20-%20%24%202%2C000%20%2Fmonth\",\"condos\",\"rentals\",\"condosrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fcondo-in-financial-district%2F\",399],[\"Lovelace%20Road%20Greenfield\",\"39.80500847564541\",\"-89.6652603149414\",14,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateImageAfter314-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateImageAfter314%22%20%2F%3E\",\"%20-%20%24%202%2C000%2C000%2C000%20-%20on%20sale\",\"land\",\"sales\",\"landsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fland-on-1st-ave-new-york%2F\",335],[\"6%20Stall%20Horse%20Barn%20%26%23038%3B%20Shop\",\"40.69810429242147\",\"-74.09254789352417\",15,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateMourgueFile1013-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateMourgueFile1013%22%20%2F%3E\",\"%20-%20%24%20800%2C000%20\",\"land\",\"sales\",\"landsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F6-stall-horse-barn-shop%2F\",462],[\"Restaurant%20%26%23038%3B%20Bar%20Hudson\",\"40.254669\",\"-74.71571899999998\",16,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate085-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22Boutique%20next%20door%22%20%2F%3E\",\"%20-%20%24%201%2C500%2C000%20\",\"retail\",\"sales\",\"retailsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Frestaurant-upper-east-side%2F\",430],[\"Boutique%20Space%20Greenville\",\"40.995597\",\"-74.34128950000002\",17,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FMarina_Scrub_Island_Resort_Spa__Marina-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22British%20Virgin%20Islands%2C%20SCRUB%20Island%2CDocks%2FMARINA%20%26amp%3B%20mega-YACHTS%22%20%2F%3E\",\"%20-%20%24%2080%2C000%20%2F6%20months\",\"retail\",\"rentals\",\"retailrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fboutique-space-in-manhattan%2F\",416],[\"Central%20Park%20View\",\"40.7877333\",\"-73.96776849999998\",18,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2F4cgraphic2-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%224cgraphic%22%20%2F%3E\",\"%20-%20%24%209%2C000%20%2Fsq%20ft\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fcentral-park-view%2F\",360],[\"Private%20Lake%20In%20Manhattan\",\"40.7902778\",\"-73.95972219999999\",19,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateImageAfter0733-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateImageAfter0733%22%20%2F%3E\",\"%20-%20%24%2035%2C000%20\",\"land\",\"rentals\",\"landrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fprivate-lake-in-center-manhattan%2F\",353],[\"Cement%20Factory%20Thompson\",\"40.7481941\",\"-74.05298449999998\",20,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateMourgueFile1103-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateMourgueFile1103%22%20%2F%3E\",\"%20-%20%24%20100%2C000%20%2Fsquare%20meter\",\"industrial\",\"rentals\",\"industrialrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Ffactory-on-thompson-road%2F\",327],[\"Dellas%20Graphics%20Middletown\",\"40.87491319999999\",\"-74.2320555\",21,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateImageAfter1631-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateImageAfter163%22%20%2F%3E\",\"%20-%20%24%208%2C900%2C000%20\",\"industrial\",\"sales\",\"industrialsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fdellas-graphics-middletown-new-york%2F\",318],[\"Merchant%20Stores%20Building\",\"40.773262\",\"-73.956099\",22,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2Fstore-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22store%22%20%2F%3E\",\"%20-%20%24%207%2C500%2C000%20\",\"industrial\",\"sales\",\"industrialsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fmerchant-stores-building-upper-east-side%2F\",308],[\"5-9%20East%2042%20Street%20Offices\",\"40.779502\",\"-73.950691\",23,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2Ffile000119719414241-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22file00011971941424%22%20%2F%3E\",\"%20-%20%24%208%2C000%2C000%20\",\"offices\",\"sales\",\"officessales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F5-9-east-42-street-new-york%2F\",289],[\"Office%20Space%20Central%20Ave\",\"40.747381\",\"-74.0483964\",24,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateMourgueFile3313-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateMourgueFile3313%22%20%2F%3E\",\"%20-%20%24%2016%2C000%20\",\"offices\",\"rentals\",\"officesrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Foffice-space-590-central-ave%2F\",277],[\"Family%20House%20In%20Hudson\",\"40.6589757751022\",\"-73.96650552749634\",25,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate15213-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstate152%22%20%2F%3E\",\"%20-%20%24%201%2C000%2C000%20\",\"houses\",\"rentals\",\"housesrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fspecial-offer-brooklyn-ny%2F\",267],[\"Offices%20in%20Southwark\",\"51.5008098\",\"-0.09298119999994015\",26,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate017-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22SONY%20DSC%22%20%2F%3E\",\"%20-%20%24%2015%2C000%20\",\"offices\",\"rentals\",\"officesrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Foffices-in-southwark%2F\",237],[\"Steel%20Factory%20in%20New%20York\",\"40.6437474\",\"-73.93010370000002\",27,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateMourgueFile983-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateMourgueFile98%22%20%2F%3E\",\"%20-%20%24%205%2C000%2C000%20\",\"industrial\",\"sales\",\"industrialsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fsteel-factory-in-new-york%2F\",201],[\"Luxury%20Three%20Room%20Condo\",\"40.7711329\",\"-73.9741874\",28,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate1377-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstate137%22%20%2F%3E\",\"%20-%20%24%203%2C500%2C000%20\",\"apartments\",\"sales\",\"apartmentssales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F3-room-condo-central-park%2F\",168],[\"Queens%20Retail%20Opportunity\",\"40.723844\",\"-74.00528\",29,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateMourgueFile0513-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22OLYMPUS%20DIGITAL%20CAMERA%22%20%2F%3E\",\"%20-%20%24%2025%2C000%20\",\"retail\",\"rentals\",\"retailrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fqueens-retail-opportunity%2F\",149],[\"2%20Bedrooms%203rd%20Avenue\",\"40.8067125\",\"-73.93457610000002\",30,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateImageAfter434-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateImageAfter43%22%20%2F%3E\",\"%20-%20%24%205%2C000%20\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F2-bedrooms-3rd-avenue%2F\",376],[\"51%20Acre%20Horse%20Property\",\"40.6985168\",\"-74.09219910000002\",31,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate2043-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22SONY%20DSC%22%20%2F%3E\",\"%20-%20%24%20770%2C000%20\",\"land\",\"sales\",\"landsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F51-acre-horse-property%2F\",125],[\"House%20In%20Upper%20East%20Side\",\"40.769817\",\"-73.95155\",32,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate14413-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstate144%22%20%2F%3E\",\"%20-%20%24%208%2C900%20\",\"houses\",\"rentals\",\"housesrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Ffamily-house-upper-east-side%2F\",113],[\"Apartment%20on%20Park%20Avenue\",\"40.77365187491079\",\"-73.96176338195801\",33,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate2443-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstate244%22%20%2F%3E\",\"%20-%20%24%205%2C000%20\",\"apartments\",\"rentals\",\"apartmentsrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fapartment-on-park-avenue%2F\",98],[\"11%20Stonewall%20Ct%23%2011\",\"40.7902778\",\"-73.95972219999999\",34,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate323-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstate32%22%20%2F%3E\",\"%20-%20%24%20500%2C000%20\",\"apartments\",\"sales\",\"apartmentssales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F11-stonewall-ct-11%2F\",44],[\"Villa%20On%20Washington%20Ave\",\"40.786910386579194\",\"-73.96807193756104\",35,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate993-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstate993%22%20%2F%3E\",\"%20-%20%24%205%2C500%2C000%20\",\"villas\",\"rentals\",\"villasrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fvilla-on-washington-avenue%2F\",35],[\"Land%20In%20Central%20Park\",\"40.761300880922235\",\"-73.96614074707031\",36,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateImageAfter3113-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateImageAfter31%22%20%2F%3E\",\"%20-%20%24%201%2C000%2C000%20\",\"land\",\"sales\",\"landsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fland-in-central-park%2F\",343],[\"6%20Acre%20Lake%20Property\",\"40.7066689811733\",\"-74.04184341430664\",37,\"%3Cimg%20width%3D%22640%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate1923-640x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstate1923%22%20%2F%3E\",\"%20-%20%24%202%2C000%2C000%20\",\"land\",\"sales\",\"landsales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F6-acre-lake-property%2F\",454],[\"Luxury%20Villa%20In%20Rego%20Park\",\"40.740494\",\"-73.87722\",38,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateImageAfter0613-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateImageAfter0613%22%20%2F%3E\",\"%20-%20%24%202%2C100%20%2F%20month\",\"villas\",\"rentals\",\"villasrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fvilla-in-rego-park-ny%2F\",258],[\"Retail%20Space%20In%20West%20Side\",\"40.830436877649255\",\"-73.90090942382812\",39,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstate0813-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstate08%22%20%2F%3E\",\"%20-%20%24%2095%2C000%20\",\"retail\",\"rentals\",\"retailrentals\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2Fretail-space-in-west-side%2F\",440],[\"Ten%20Stories%20Building%20Central\",\"40.7463263\",\"-73.98397849999998\",40,\"%3Cimg%20width%3D%22700%22%20height%3D%22280%22%20src%3D%22http%3A%2F%2Fwpestatetheme.org%2Fwp-content%2Fuploads%2F2013%2F05%2FWPEstateMourgueFile958-700x280.jpg%22%20class%3D%22attachment-property_map%20wp-post-image%22%20alt%3D%22WPEstateMourgueFile95%22%20%2F%3E\",\"%20-%20%24%209%2C000%2C000%20\",\"offices\",\"sales\",\"officessales\",\"http%3A%2F%2Fwpestatetheme.org%2Fproperties%2F10-stories-building-madison-avenue%2F\",300]]", "idx_status": "1", "generated_pins": "0", "page_custom_zoom": "11" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/google_js/google_map_code5152.js?ver=1.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mapfunctions_vars = { "path": "http:\/\/wpestatetheme.org\/wp-content\/themes\/wpestate\/css\/css-images", "pin_images": "{\"rentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/apartmentsrentals.png\",\"sales\":\"\",\"apartments\":\"\",\"condos\":\"\",\"duplexes\":\"\",\"houses\":\"\",\"industrial\":\"\",\"land\":\"\",\"offices\":\"\",\"retail\":\"\",\"villas\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/rentalsvilla.png\",\"apartmentsrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/apartmentsrentals1.png\",\"condosrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/condorentals.png\",\"duplexesrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/townhouserentals.png\",\"housesrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/housesrent.png\",\"industrialrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/industrial-buildingsrent.png\",\"landrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/landrentals.png\",\"officesrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/officesrentals.png\",\"retailrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/retailrentals.png\",\"villasrentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/rentalsvilla1.png\",\"apartmentssales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/apartmentssales.png\",\"condossales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/condorentals1.png\",\"duplexessales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2013\\\/10\\\/townhousesales.png\",\"housessales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/housessales.png\",\"industrialsales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/industrial-buildingssale.png\",\"landsales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/landsales.png\",\"officessales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/officessales.png\",\"retailsales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/retailsales.png\",\"villassales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/villasales.png\",\"idxpin\":\"\",\"userpin\":\"\"}", "geolocation_radius": "1000", "adv_search": "2", "in_text": "in", "zoom_cluster": "14", "user_cluster": "yes", "radius": "radius" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/google_js/mapfunctions5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/google_js/markerclusterer5152.js?ver=1.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var control_vars = { "morg1": "Amount Financed:", "morg2": "Mortgage Payments:", "morg3": "Annual cost of Loan:", "searchtext": "SEARCH", "searchtext2": "Search here...", "icons": "{\"rentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/rentalsicon.png\",\"sales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/salesicon.png\",\"apartments\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/apartmentsicon.png\",\"condos\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/condo.png\",\"duplexes\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/single.png\",\"houses\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/housesicon.png\",\"industrial\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/industrialicon.png\",\"land\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/landicon.png\",\"offices\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/officesicon.png\",\"retail\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/retailicon.png\",\"villas\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/villa.png\"}", "hovericons": "{\"rentals\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/rentalsicon.png\",\"sales\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/salesicon.png\",\"apartments\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/apartmentsiconhover.png\",\"condos\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/condohover.png\",\"duplexes\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/singlehover.png\",\"houses\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/housesiconhover.png\",\"industrial\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/industrialiconhover.png\",\"land\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/landiconhover.png\",\"offices\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/officesiconhover.png\",\"retail\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/retailiconhover.png\",\"villas\":\"http:\\\/\\\/wpestatetheme.org\\\/wp-content\\\/uploads\\\/2014\\\/02\\\/villahover.png\"}", "path": "http:\/\/wpestatetheme.org\/wp-content\/themes\/wpestate", "search_room": "Type Rooms No.", "search_bath": "Type Bathrooms No.", "search_min_price": "Type Min. Price", "search_max_price": "Type Max. Price", "contact_name": "Your Name", "contact_email": "Your Email", "contact_phone": "Your Phone", "contact_comment": "Your Message", "zillow_addres": "Your Address", "zillow_city": "Your City", "zillow_state": "Your State Code (ex CA)", "adv_contact_name": "Your Name", "adv_email": "Your Email", "adv_phone": "Your Phone", "adv_comment": "Your Message", "adv_search": "Send Message", "admin_url": "http:\/\/wpestatetheme.org\/wp-admin\/", "login_redirect": "http:\/\/wpestatetheme.org\/my-profile\/", "login_loading": "Sending user info, please wait...", "userid": "0", "favorite_text": "favorite", "add_favorite_text": "add to favorites", "saving_text": "saving..", "autocity": "[]", "used_all": "You have used all the \"Featured\" listings in your package." };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/control5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-includes/js/comment-reply.min274c.js?ver=4.3.2'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/themes/wpestate/js/google_js/idx5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/EmlakPages/wpestatetheme.org/wp-content/plugins/dsidxpress/js/autocomplete36fb.js?ver=2.1.25'></script>
    <script>
        //<![CDATA[
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '~/Content/EmlakPages/www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-41924406-1', 'wpestatetheme.org');
        ga('send', 'pageview');
        //]]>
    </script>
</body>

<!-- Mirrored from wpestatetheme.org/homepage-v3/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Jan 2016 06:32:29 GMT -->
</html>
<!-- WP Fastest Cache file was created in 0.273873090744 seconds, on 07-01-16 6:29:44 Mozilla/5.0 (Windows NT 6.3; WOW64; rv:37.0) Gecko/20100101 Firefox/37.0-->
<!-- via php -->
